.cardWrapper {
  display: block;
  transition: all 0.3s ease;
  width: 200px;
}
.card {
  background-color: var(--primary);
  // color: #fff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 10px;
  padding: 5px;
  user-select: none;
}

.content {
  height: 250px; // Default height
  img {
    transition: all 0.3s ease;
  }
}

.expanded .content {
  // height: 400px; // Expanded height
}
