.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 5px;
  row-gap: 0.5rem;

  >:not(:last-child) {
    margin-right: 0.25rem;
  }
}

.genre {
  background-color: var(--purple);
  color: var(--purple-text);
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 25px;
}

.empty {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: var(--disabled-text);
}