.wrapper {
  padding: 25px 32px 0 32px;
}

.title {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  font-style: italic;
  color: var(--text);
}

.content {
  padding-top: 32px;

  >:not(:last-child) {
    margin-bottom: 32px;
  }
}