.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  >:not(:last-child) {
    margin-bottom: 10px;
  }
}

.chapter {
  /*
   * The commented code below is for reference,
   * to when we will want to implement a horizontal scroll when reading a chapter.
  **/
  // width: calc(100vw - (vw * 1.5));

  // display: flex;
  // flex-direction: row;
  // overflow-x: scroll;
  // width: 100%;  /* Make sure the container takes full width */
  // height: 100vh;  /* Optional: Set the container height if needed */
  // direction: rtl;

  img {
    min-height: min-content;
    flex-shrink: 0;
    flex-grow: 0;
    height: 100%;
    display: block;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  >:not(:last-child) {
    margin-bottom: 10px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 45px;

  .name {
    font-size: 2rem;
  }

  .number {
    font-style: normal;
    font-size: 2rem;
  }
}

.pagination {
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  align-items: center;

  &> *:not(:last-child) {
    margin-right: 10px;
  }
}

.selectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select {
  width: 120px;
}

@media (max-width: 550px) {
  .chapter {
    img {
      width: 100vw;
    }
  }
}