.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  >:not(:last-child) {
    margin-bottom: 10px;
  }
}

.chapter {
  // width: calc(100vw - (vw * 1.5));

  // display: flex;
  // flex-direction: row;
  // overflow-x: scroll;
  // width: 100%;  /* Make sure the container takes full width */
  // height: 100vh;  /* Optional: Set the container height if needed */
  // direction: rtl;;

  img {
    min-height: min-content;
    flex-shrink: 0;
    flex-grow: 0;
    width: 70vw;
    height: 90%;
    object-fit: cover;
    // padding: 0 50px;
    margin-left: 55px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  >:not(:last-child) {
    margin-bottom: 10px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  line-height: 45px;

  .name {
    font-size: 3rem;
  }

  .number {
    font-style: normal;
    font-size: 2rem;
  }
}